
// body font - 400
@font-face {
    font-family: 'Titillium Web';
    src: url('../../assets/fonts/titillium/TitilliumWeb-Regular.ttf');
}

// body font semibold - 600
@font-face {
    font-family: 'Titillium Web SemiBold';
    src: url('../../assets/fonts/titillium/TitilliumWeb-SemiBold.ttf');
}

// body font bold - 700
@font-face {
    font-family: 'Titillium Web Bold';
    src: url('../../assets/fonts/titillium/TitilliumWeb-Bold.ttf');
}

// headline font
@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/fonts/bebas-neue/BebasNeue-Regular.ttf');
}
