@use './_variables' as *;

a {
    color: #222;
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: $base-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin: 0;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

strong {
    font-family: 'Titillium Web Bold';
}